


html{
  width: 100%;
  height: 100%;
  margin: 0;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  background: black;
  color: white;
}

h1,h2,h3{
  font-family: clan, 'Helvetica Neue', helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1{
  font-size: 3em;
  font-family: clan, helvetica, sans-serif;
  text-transform: uppercase;
}

  a{
    text-decoration: none;
    color: white;
  }

p{
  font-family: 'Karla', clan, 'Helvetica Neue', helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 0.7em;
}

.frame{
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}


.spinner{
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  overflow: hidden;
  opacity: 0.995;
  .fa{
    text-align: center;
    -webkit-font-smoothing: antialiased;
    width: 120%;
    margin-left: -10%;
    margin-top: 25%;
    color: white;
    font-size: 2em;
  }
  @media(max-width: 1024px){
    display: none !important;
  }
}


.flash{
  display: block;
  width: 400px;
  position: fixed;
  top: -10px;
  left: 0;
  height: 100px;
  background-color: black;
  z-index: 999;
  text-align: center;
  @include vendorize(box-shadow, 5px 5px 5px $gray);
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  box-sizing: border-box;
  cursor: pointer;
  p{
    margin-top: 20px;
    font-size: 1em;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.5;
    a{
      color: white;
      text-decoration: underline;
    }
  }

  @media (max-device-width: 1024px){
    display: none !important;
  }
}


[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer !important;
}


//REMOVE SCROLLBAR

::-webkit-scrollbar{
  display: none;
}

