@mixin vendorize($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

@mixin smallboxy(){
	box-shadow: 1px 0px 1px $medgray, 0px 1px 0px $darkgray, 2px 1px 0px $medgray, 1px 2px 0px $darkgray, 3px 2px 0px $medgray, 2px 3px 0px $darkgray, 4px 3px 0px $medgray, 3px 4px 0px $darkgray, 5px 4px 0px $medgray, 4px 5px 0px $darkgray, 6px 5px 0px $medgray, 5px 6px 0px $darkgray, 7px 6px 0px $medgray;
}

$phone: 767px;
$tab: 1024px;
$wide: 1600px;

