<section class="frame">

  <section class="spinner" ng-show="!video">
    <div class="fa fa-circle-o-notch fa-spin" ng-show="!video"></div>
  </section>

  <!--TITLE VIDEO-->
  <section class="intro">
    

    <video ng-if="videoOn" id="video" width="100%" height="100%" loop loaded-event autoplay class="visible animate-if">
      <source src="dus8ti0yrnpxl.cloudfront.net/human-synth/scroll-4-eva.webm" type="video/webm">
      <source src="dus8ti0yrnpxl.cloudfront.net/human-synth/scroll-4-eva.mp4" type="video/mp4">
      Your browser doesn't support HTML5 Video.
    </video>

    <div ng-if="videoOn" ng-click="dropVid()" class="play-overlay"></div>


    <!-- DISPLAY PICTURE ON MOBILE -->
    <div ng-if="videoOn" class="pic-background"></div>

     <!--exit-->
    <a ng-if="!videoOn" class="exit-icon" ng-click="dropBody()"><div class="exit fa fa-times"></div></a>
 
    <!--BRIGHTCOVE-->
    <section class="fullscreen-brightcove-video" id="player"></section>

     <!--SOCIAL-->
    <section class="button-group logo-group">
      
      <div class="button twitter">
        <a href="https://twitter.com/share?url={{data.fields.shareUrl}}/&amp;via=rbma&amp;text={{data.fields.twitterShareText}}" target="blank"><span class="fa fa-twitter"></span>
        </a>
      </div>

      <div class="button facebook">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{data.fields.shareUrl}}/" target="blank"><span class="fa fa-facebook"></span>
        </a>
      </div>
    </section>

  </section> <!--END INTRO-->

 

<!--MAIN BODY-->
<section class="main">


  

  <!--INTRO TEXT-->
  <section class="text-body">
    <h1>{{data.fields.title}}</h1>
    <h2><a href="http://www.redbullmusicacademy.com/" target="blank">Red Bull Music Academy</a> <span class="lighter">x</span> <a href="http://rhizomatiks.com/" target="blank"><span class="rhizomatiks"></span></a></h2>
  </section>

  

  <!--IMAGES-->
  <section class="image-body">
    <div class="top-row">
      <div class="top-row-image">
        <img src="images/machine.svg" alt="Synthesizer diagram" />
      </div>
      <!--INJECT DESCRIPTION-->
      <div class="top-row-text">
        <p>{{data.fields.description}}</p>
      </div>
    </div>
  </section>


  <!--LARGE IMAGES-->
  <section class="full-synth-image" >
    <div class="image-overlay"></div>
    <img src="images/full-synth.png" alt="Synthesizer blowout diagram" />
  </section>

  
  <!--MAJOR LINKS-->
  <section class="major-links">
    <h1>RBMA Synth Essentials</h1>
    <ul class="big-column">
      <li><a href="http://www.redbullmusicacademy.com/lectures/bob-moog--the-soul-machine" target="self">Bob Moog Lecture</a></li>
      <li><a href="http://www.redbullmusicacademy.com/magazine/bbc-radiophonic-workshop" target="self">The Story Of The BBC Radiophonic Workshop</a></li>
      <li><a href="http://www.redbullmusicacademy.com/lectures/tom-oberheim-polyphonic-one-love" target="self">Tom Oberheim Lecture</a></li>
    </ul>
  </section>

    
  <section class="minor-links">
    
    <div class="col left">
      <ul class="column">
        <li ng-repeat="link in links | orderBy:'name' | slice:0:15 "><a href="{{link.link}}" target="self">{{link.name}}</a></li>
      </ul>
    </div>
    
    <div class="col right">
      <ul class="column">
        <li ng-repeat="link in links | orderBy:'name' | slice:15:30 "><a href="{{link.link}}" target="self">{{link.name}}</a></li>
      </ul>
    </div>
  
  </section><!--end minor links-->

</section><!--end body-->
